{% extends 'base.html' %}
{% block body %}

<section class="section-pricing" id="pricing">
        <div class="container">
          <h2 class="heading-secondary">
            About the page
          </h2>
          <p class="step-description">Payroller is the web page where the users
            can receive detailed information about the taxes and other related
            contributions to the state budget.</p>
          <br>
          <br>
          <p class="step-description">The treasure transactions, mostly, are
            made by the employers on behalf of the employees. As a result,
            the employees do not have enough information concerning the amounts
            they contribute to financing state authorities and are less
            demanding of state governance.</p>
          <br>
          <br>
          <p class="step-description">In the second stage of Payroller's
            development, users will be able to create loan amortization
            tables.</p>
          <br>
          <br>
          <p class="step-description">By the final stage of the web portal's
            development, users will be able to have their authorization data
            and control their monthly payroll by saving the previous data.
            Moreover, companies will be able to make payroll calculations for
            all their employees, see the details of accruals and deductions,
            prepare the payslips and provide these to their employees.</p>
          <br>
          <br>
        </div>
</section>
{% endblock %}
